@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.6;
}

.bi{
    font-size: 1.5rem;
    color: #000000;
}

.khmer {
    font-family: "Battambang", system-ui;
    font-weight: 400;   
    line-height: 1.7;   
}
.gradient-text {
    background: linear-gradient(90deg, #1a7ee8, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block; /* IMPORTANT */
}

.timeline-badge {
    background: #e0f0ff;       
    color: #1a7ee8;             
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 8px;
}
